.container li{
    display: flex;
    list-style: none;
    padding: 40px;
    display: inline;
    justify-content: space-between;
    margin-bottom: 100%;
    margin-left: 90px;
}
.container{
    background-color: rgb(95, 84, 84);
    border: solid black;
}
button{
    margin-left: 85%;
    height: 50px;
    background-color: yellow;
    width: 100px;

}
#pic{
    width: 200px;
}
#pic1{
    width: 200px;
}
#pic2{
    width: 270px;
}
.elec{
    margin-left: 70px;
    background-color: rgb(241, 242, 243);
}
h1{
text-align: center;
}
p{
    text-align: center;
}
#p{
    margin-right: 50%;
}
#me{
    width: 270px;
    margin-left: 60%;
    margin-top: -60px;
}
.footer{
    display: flex;
    background-color: rgb(48, 42, 42);
   
    color: aliceblue
}
.picachu{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 237, 237);
    }
.box1{
    border:solid rgb(245, 237, 237);
    border-radius: 5px;
}    


